# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
images/
docs/
build.sh

# Docker
docker-compose.yml
Dockerfile
manager.yml
mkdocs.yml

# Node
node_modules/
package.json
package-lock.json

# Unraid
unraid/

# Metadata
.DS_Store
Thumbs.db
README.md
LICENSE
