# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
images/
docs/

# Docker
docker-compose.yml
Dockerfile
manager.yml

# Metadata
.DS_Store
Thumbs.db
README.md
LICENSE
