[python: app.py]
keywords = lazy_ngettext:1,2 lazy_pgettext:1c,2

[python: core/**.py]
keywords = lazy_ngettext:1,2 lazy_pgettext:1c,2

[jinja2: templates/**.html]

[javascript: static/js/**.js]
keywords = t tn:1,2 tc:1c,2
